body {

    .banner {
        width: 100%;
        height: 0 auto;
        background-position: center;
    }

    .biblio {
        color: #625A4C;
        text-align: center;
        font-weight: bolder;
        font-size: 45px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .hero {
        background-image: url("../img/biblioo.jpg");
        height: 90vh;
        text-align: center;
    }

    .h3 {
        color: #ffffff;
        text-align: center;
    }

    .h4 {

        color: #000000;
    }


    .p {
        color: #ffffff;
        text-align: center;
    }

    .textos {
        color: #625A4C;
    }

    .btn-secondary {
        background-color: #625A4C;
    }


    .accordion-collapse {
        color: #625A4C
    }

    .accordion-button {
        background-color: #AFAFB4;
    }

}