@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Nunito+Sans:ital,wght@1,900&display=swap');

$fontNotoSans: 'Noto Sans', sans-serif;

$maincolor: #000000;

$secondarycolor: #625A4C;